@font-face{
    font-family: DM Sans;
  src: url(/assets/Fonts/DMSans-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: DM Sans;
    font-weight: 400;
}